body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(177, 93%, 50%);
    color: #0c0c0c;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

h2 {
    color: #0c0c0c;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: hwb(170 19% 10%);
    color: #0c0c0c;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}